@import './variables.scss';

body {
  margin: 0;
  font-family: $mainFont; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, html, .lg-container {
  margin: 0;
  right: 0;
  top: 0;
}

// Reusable class to center object
.m0auto {
  margin: 0 auto;
}

// Reusable class to set margin to 0
.m0 {
  margin: 0;
}

// Reusable bold class
.bold {
  font-weight: bold;
  font-size: 1em; 
}

// Reusable uppercase class
.uppercase {
  text-transform: uppercase;
}

// Reusable center class
.center {
  text-align: center;
}

// Reusable Link class
.link {
  cursor: pointer;
}

.link:hover {
  color: $mainColor;
}


// Container around whole App
.lg-container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  list-style: none;
}

// Container around whole Section
.container {
  width: 100%;
  padding: 50px 200px;
}

// Container around ContentBlock
.sm-container {
  width: 600px;
  display: flex;
  padding: 20px;
}

// Container around Profile details
.xs-container {
  width: 200px;
  display: flex;
  flex-direction: column;
}

// Container around header
.header {
  width: 100%;
  height: 100vh;
  background-color: $mainColor;
  color: $secondaryColor;
  padding: 50px;

  .button {
    background-color: $lightMainColor;
    color: $secondaryColor;
    font-size:15px;
    padding: 10px 15px;
    text-decoration: none;
  }

}

// Background classes for Sections
.white {
  background-color: $white;
  color: $black;
}

.black {
  background-color: $black;
  color: $white;
}

.red {
  background-color: $mainColor;
  color: $white;
}

// Title of Section
.title {
  margin-left: 20%;
  text-transform: uppercase;

  .firstTitle{
    font-style: italic;
    font-size: 55px;
    font-weight: 200;
    margin-left: -170px;
    margin-bottom: -40px;
  }

  .secondTitle{
    font-size: 70px;
    font-weight: 900;
    top: -100px;
  }

}

// Title of ContentBlocks
.sm-title {
  flex: 1;
  max-width: 130px;
}

// Subtitle of ContentBlocks
.subtitle {
  margin: 0;
  font-weight: normal;
}

p {
  line-height: 1.6;
}

// Text at Header
.promo{
  margin-top: -36px;
  margin-left: 20%;
  color: $lightPink;
  font-weight: 200px;
  width: 400px;
}

// Title of ContentBlocks 
.sm-title {
  flex: 1;
  margin-left: -200px;
}

// Number from ContentBlocks
.number {
  font-weight: 900;
  font-size: 80px;
  margin: 0;
}

// Context from ContenBlocks
.context {
  flex: 2; 
}

// Intro from Sections 
.intro {
  //margin: 0 auto;
  max-width: 600px;
  margin-left: 260px;
  font-style: italic;
}

// Title at Team section
.study {
  color: $lightGrey;
  font-size: 40px;
  text-transform: uppercase;
}

// Detail at profiles
.detail {
  font-size: 16px;
  line-height: 40px;
}

// Card for Team section
.profileCard {
  display: flex;
  max-width: 300px;

  img {
    object-fit: cover;
    padding: 8px 16px 8px 0;
  }

}

//Subitle Number
.subtitle {
  font-size: 16px;
  text-align: left;
  margin-left: 6px;
  margin-top: -12px;
}

//conceptImg 
.conceptImg {
  width: 70%;
  height: auto;
}

//iconStyling
.icon{
  margin-left: 90px;
  margin-top: 16px;
}

.iconResearch{
  margin-top: 30px;
}

.iconHeart{
  margin-top: 26px;
}

.secondTitleClass {
  display: flex;
}

//videoStying

.videoContainer{
  height: 800px;
  margin: 0 auto;
}

.video{
  margin-top: 70px; }