
/* -- COLORS -- */  

$mainColor: #e24747;
$lightMainColor: #E86C6C;
$secondaryColor: #fff;
$lightGrey: #ececec;
$lightPink: #F7D1D1; 
$black: #1a1a1a;

/* -- FONTS -- */

$mainFont: 'Inter', sans-serif;