
/* -- COLORS -- */  

$mainColor: #e24747;
$slightlyDarkerMainColor: #e85f5f;
$white: #fff;
$lightGrey: #ececec;
$black: #1a1a1a;
$lightMainColor: #E86C6C;
$secondaryColor: #fff;
$lightGrey: #E0E0E0;
$lightPink: #F7D1D1; 


/* -- FONTS -- */

$mainFont: 'Inter', sans-serif;
